@import "tailwindcss";

:root {
  --background: #FDF9F5;
  --foreground: #171717;
}

@theme {
  --color-bg-primary: #FDF9F5;
  --color-bg-secondary: #2C2F40;
}


body {
  background: var(--background);
  color: var(--foreground);
}
